{% extends 'base_master.html' %}

{% block content %}
    <div class="container mt-3">
        <div class="row justify-content-between">
          <div class="col-6">
            <h1 class="text-primary">{{request.user|capfirst}} Recipes</h1>
          </div>
          <div class="col-6">
            <button type="button" class="btn btn-primary btn-lg float-end"
                onclick = "generatePdf('{{request.user}}')">
              Download PDF
            </button>
          </div>
        </div>
        <hr>
        {% if recipe_list %}
        <div class="table-responsive recipe-container m-5">
            <h1>Recipe Meal Planner</h1>
            <table class="table table-bordered border-dark">
                <caption>Meal Plan designed by <strong class="text-primary">{{request.user|capfirst}}</strong>.</caption>
                <thead class="bg-info">
                  <tr>
                    <th scope="col">Day</th>
                    <th scope="col">Time</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                  </tr>
                </thead>
                <tbody>
                {% for recipe in recipe_list  %}
                  <tr>
                    <td>{{recipe.get_weekday_label}}</td>
                    <td>{{recipe.get_meal_type_label}}</td>
                    <td>{{recipe.recipe_name}}</td>
                    <td>{{recipe.recipe_description}}</td>
                  </tr>
                {% endfor %}   
                </tbody>
            </table>
        </div>
        {% else %}
        <div class="alert alert-info" role="alert">
            There are no recipes in the database.
        </div>
        {% endif %}
        <a type="button" class="btn btn-secondary" href="{% url 'planner:recipe_list' %}">Back</a>      
    </div>
    
    <!-- Reference: https://ekoopmans.github.io/html2pdf.js/ -->

    <!-- html2pdf -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.js"></script>
    <!-- jsPDF -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.2/jspdf.umd.min.js"></script>
    <script>
      function generatePdf(username)
      {
          var element = document.querySelector('.recipe-container');
          var opt = {
            filename: username+'_recipe_meal_planner.pdf',
            jsPDF: { unit: 'in', format: 'a4', orientation: 'landscape' }
          };

          html2pdf().set(opt).from(element).save();
      }
    </script>
{% endblock content %}